body, html {
    margin: 0;
    padding: 0;
    background-color: #35363a;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {

    width: 100%;
    background-color: #28292c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header p {
    font-size: 30px;

    @media (max-width: 990px) {
    font-size: 50px;
    }
}
h1{
    font-size: 25px;
    font-weight: normal;
}

#arianne {
    width: 100%;
}

#arianne p {
    font-size: 12px;
}
#arianne p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content {
    border: 1px #4f5052 solid;
    max-width: 80%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.content.home{
    @media (min-width: 990px) {
        flex-direction: row;
    }
}

.content p {
    width: fit-content;
}

.content .character {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.content .character:hover{
    cursor: pointer;
}

.content .character img {
    width: 150px;
    border-radius: 100px;
}

.quote {
    position: relative;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.quote p {
}
.quote i:hover {
    cursor: pointer;
}

#viewFavorite {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #b19259;
    box-shadow: none;
    border-style: none;
}

#viewFavorite.hidden {
    display: none;
}

#viewFavorite:hover {
    cursor: pointer;
}